<div class="login-container">
    <div class="login-box">
        <div class="title">Welcome to PawPal Network</div>
        <div class="subtitle">this is the place for your pet</div>
        <form *ngIf="isRegister" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput type="text" formControlName="username" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" required>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
            <div *ngIf="loginFailed" class="error-message">Invalid username or passwordddddd</div>
        </form>
        <button class="toRegisterBtn" mat-raised-button color="primary" (click)="toRegister()">to
            register</button>
    </div>
</div>