.home-container {
  
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #fcfcfc;

  @media screen {
    background-color: #fcfcfc;

  }
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.search-container {
  text-align: center;
  margin-bottom: 20px;
}

.search-container input {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-container button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #0056b3;
}

.content-section {
  margin-bottom: 30px;
}


.user-link {
  display: flex;
  align-items: center; /* יישור אנכי של התמונה והטקסט */
}

.profile-image {
  border-radius: 50%;
  margin-right: 10px; /* מרווח מימין לתמונה */
}

.post-date {
  margin-left: auto; /* דחיפה של תאריך לפריסה מלאה */
}

.post {
  background: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* Add top margin here */

}

.post-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}

.post-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.post-author {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.post-author a {
  text-decoration: none;
  color: #007bff;
}

.post-author a:hover {
  text-decoration: underline;
}

.info-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.info-button {
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.info-button:hover {
  background-color: #0056b3;
}

.edit-button {
  background-color: #007bff;
  color: #fff;
}

.save-button {
  background-color: #007bff;
}

.cancel-button {
  background-color: #fff;
  color: #007bff;
  border: 1px solid #007bff;
}

.ok-button {
  background-color: #fff;
  color: #007bff;
  border: 1px solid #007bff;
}

.ok-button:hover{
  background-color: #007bff;
  color: #fff;
}

/* Dialog styling */
.edit-dialog, .success-dialog, .delete-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  background-color: #ECF0F1;

}

.edit-dialog textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.edit-dialog input[type="file"] {
  display: block;
  margin-bottom: 10px;
}

.remove-image-button {
  background-color: #dc3545; /* Red color */
  color: white;
}

.remove-image-button:hover {
  background-color: #b62b39;
}

.edit-image-preview {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.success-dialog p {
  margin: 0;
}

.success-dialog .ok-button {
  margin-top: 20px;
}

.info-button.delete-button {
  background-color: #dc3545; 
  color: #fff;
  right: 10px;
  bottom: 10px;
}

.info-button.delete-button:hover {
  background-color: #b62b39; 
}

.delete-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.delete-dialog-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cancel-button {
  background-color: #fff;
  color: #007bff;
  border: 1px solid #007bff;
}

.cancel-button:hover {
  background-color: #007bff;
  color: #fff;
}

.confirm-button {
  background-color: #dc3545;
  color: #fff;
}

.confirm-button:hover {
  background-color: #b62b39; 
}


.form-container {
  background: linear-gradient(135deg, #fffbfb, #c3d6f3); /* Gradient background */
  padding: 20px; /* Padding around the form */
  border: 1px solid #acacac;
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
  max-width: 700px; /* Maximum width of the form */
  margin: 40px auto; /* Center the form with some top margin */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.form-container input[type="file"] {
  margin-top: 20px; /* Margin above the file input */
  display: block;
  margin-bottom: 15px; /* Margin below the file input */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.form-container input[type="file"]:hover {
  border-color: #007bff; /* Border color on hover */
}

.form-container textarea {
  width: 90%;
  padding: 15px; /* Padding inside the textarea */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px; /* Margin below the textarea */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  resize: vertical; /* Allow vertical resizing */
  transition: border-color 0.3s ease;
}

.form-container textarea:hover {
  border-color: #007bff; /* Border color on hover */
}

.form-container button {
  padding: 12px 25px; /* Padding inside the button */
  
  border: none;
  background-color: #28a745; /* Button background color */
  color: #fff; /* Button text color */
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s; /* Transition for hover effects */
}

.form-container button:hover {
  
  background-color: #218838; /* Button background color on hover */
  box-shadow: 0 4px 8px rgba(33, 136, 56, 0.4); /* Box shadow on hover */
  transform: translateY(-2px); /* Slight upward movement on hover */
}

.form-container button:active {
  transform: translateY(0); /* Reset movement on active */
}

@media (max-width: 600px) {
  .form-container {
    padding: 20px; /* Reduce padding on mobile */
    margin: 20px; /* Reduce margin on mobile */
  }

  .form-container button {
    width: auto; /* Do not make button full-width on mobile */
    padding: 10px 20px; /* Make button smaller */
    font-size: 14px; /* Smaller font size */
  }

  .custom-file-upload {
    width: 40px;
    height: 40px;
    line-height: 26px;
  }

  .custom-file-upload .upload-icon {
    width: 20px;
    height: 20px;
  }

  .button-container {
    justify-content: flex-end; /* Keep the button to the right */
    margin-top: 10px; /* Adjust margin if needed */
  }
}

/* עיצוב כפתור ה-Upload */
.button-container {
  display: flex;
  justify-content: flex-end; /* הזזת הכפתור ימינה */
  margin-top: -50px; /* העלאת הכפתור כלפי מעלה */
}


/* עיצוב הכפתור להעלאת קובץ */
.file-upload-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

}

.file-name {
  font-size: 14px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px; /* Limit the width of the file name */
}

.custom-file-upload {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  background-color: #a5bdd6;
  color: white;
  border-radius: 50%;
  font-size: 24px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 30px;
  transition: background-color 0.3s ease;
}

.custom-file-upload .upload-icon {
  width: 24px;
  height: 24px;
  margin-top: 13px;
}

.custom-file-upload:hover {
  background-color: #2865a7;
}

#file-upload {
  display: none;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  animation: fadeIn 1s ease-out; /* הוספת אנימציה */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  animation: fadeIn 1.2s ease-out; /* הוספת אנימציה */
}

.search-container {
  text-align: center;
  margin-bottom: 20px;
  animation: fadeIn 1.4s ease-out; /* הוספת אנימציה */
}

.form-container {
  background: linear-gradient(135deg, #fffbfb, #c3d6f3); /* Gradient background */
  padding: 20px; /* Padding around the form */
  border: 1px solid #acacac;
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
  max-width: 700px; /* Maximum width of the form */
  margin: 40px auto; /* Center the form with some top margin */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  animation: fadeIn 1.6s ease-out; /* הוספת אנימציה */
}

/* אנימציה עבור הפוסטים */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}




.post-type {
  color: #0054b4; /* Or any color you prefer */
  margin-bottom: 10px;
  display: block;
  font-size: 12px;
}

/* rest of your existing CSS */
.content-section {
  margin-bottom: 30px;
}




.outer-frame {
  padding: 10px;
  border: 2px solid #ddd; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(24, 130, 201, 0.144); /* מוסיף צל עדין למסגרת החיצונית ליצירת עומק. אפשר לשנות את מיקום הצל, גודלו וצבעו. */
  background-color: #f9f9f9;
  margin-bottom: 0px; 
  margin-top: 60px; 
  position: relative; 

}

.user-wrapper {
  position: absolute;
  top: -60px;
  left: -10px;
  padding: 5px 10px; 
  border-radius: 10px; 
}


.post-header {
  display: flex; 
  align-items: center; 
  margin-bottom: 20px;
}

.post-header .user-link {
  margin-right: auto;
}

.post-description {
  margin-bottom: 10px;
  color: #333;
}

.info-group {
  display: flex; 
  gap: 10px; 
  margin-top: 10px; 
}

.info-button {
  padding: 10px 15px;
  border: none; 
  background-color: #007bff; 
  color: white; 
  border-radius: 5px; 
  cursor: pointer;
}
