
<div class="home-container">
  <h2>Welcome {{ currentUserFirstName }}</h2>
  <div class="search-container">
    <form (ngSubmit)="onSearch()">
      <input type="text" placeholder="Search users..." [(ngModel)]="searchQuery" name="query" (input)="onTextAreaInput($event)"/>
      <button type="submit">Search</button>
    </form>
  </div>



  <div class="form-container">
    <h4>Share things with your friends</h4>
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
      <div class="file-upload-container">
        <input id="file-upload" type="file" (change)="onFileChange($event)" />
      </div>
  
      <textarea formControlName="description" placeholder="Write something... {{currentUserFirstName}}" (input)="onTextAreaInput($event)"></textarea>
      <label for="file-upload" class="custom-file-upload">
        <img src="../../../../assets/icons/addimage.svg" alt="Upload Icon" class="upload-icon">
      </label>
      <div *ngIf="selectedFileName" class="file-name">{{ selectedFileName }}</div>
  
      <div class="form-group">
        <label for="interest">Select Interest:</label>
        <select id="interest" formControlName="interestId">
          <option *ngFor="let interest of followingInterests" [value]="interest._id">{{ interest.name }}</option>
        </select>
      </div>
  
      <div class="button-container">
        <button type="submit">Upload</button>
      </div>
    </form>
  </div>
  
  
  
  

  <div class="content-section">
    <div class="post" *ngFor="let post of posts; let i = index" [style.--post-index]="i">
      <div *ngIf="post.description.startsWith('Shared Post:'); else regularOrSystemPost">
        <small class="post-type">Shared posts</small>
  
        <div class="outer-frame">
          <div class="user-wrapper">
            <a [routerLink]="[post.author.username === currentUser ? '/profile' : '/another', post.author.username]" class="user-link">
              <img [src]="'../../../../assets/icons/userprofile.svg'" alt="Profile Image" class="profile-image lower-image" width="35" height="35">
              <strong>{{ currentUser }}</strong>
            </a>
          </div>
        
          <div class="post-header">
            <a [routerLink]="['/another', post.author.username]" class="user-link">
              <img [src]="'../../../../assets/icons/userprofile.svg'" alt="Profile Image" class="profile-image lower-image" width="35" height="35">
              <strong>{{ post.author.username }}</strong>
            </a>
            <span class="post-date">{{ post.createdAt | date:'short' }}</span>
          </div>
          <p class="post-description" [ngStyle]="{'direction': getTextDirection(post.description)}">
            {{ post.description | removeSharedPrefix }}
          </p>
          
          <img class="post-image" [src]="sanitizeImageUrl(post.image)" alt="Post image" *ngIf="post.image">
        
          <div class="info-group">
            <button class="info-button" (click)="likePost(post)">
              {{ post.liked ? 'Unlike' : 'Like' }} ({{ post.likes.length }})
            </button>
            <button class="info-button delete-button" 
                    *ngIf="post.author.username === currentUser" 
                    (click)="confirmUnshare(post, post.shares[0].user, post.shares[0].createdAt)">Unshare</button>
          </div>
        </div>
      </div>
  
      <!-- פוסטים רגילים, של מערכת או מתחומי עניין -->
      <ng-template #regularOrSystemPost>
        <ng-container *ngIf="!post.systemPost; else systemPost">
          <ng-container *ngIf="post.postType === 'Interest'; else regularPost">
            <small class="post-type">Interest Post - {{ post.interestName }}</small>
          </ng-container>
          <ng-template #regularPost>
            <ng-container *ngIf="post.author.username === currentUser; else friendsPost">
              <small class="post-type">My posts</small>
            </ng-container>
            <ng-template #friendsPost>
              <small class="post-type">Created by my friends</small>
            </ng-template>
          </ng-template>
          <div class="post-header">
            <a [routerLink]="[post.author.username === currentUser ? '/profile' : '/another', post.author.username]" class="user-link">
              <img [src]="'../../../../assets/icons/userprofile.svg'" alt="Profile Image" class="profile-image lower-image" width="35" height="35">
              <strong>{{ post.author.username }}</strong>
            </a>
            <span class="post-date">{{ post.createdAt | date:'short' }}</span>
          </div>
        </ng-container>
        <ng-template #systemPost>
          <div class="post-header">
            <div class="user-link">
              <img [src]="'../../../../assets/icons/system.svg'" alt="Profile Image" class="profile-image lower-image" width="35" height="35">
              <strong>{{ post.author.firstName }} {{ post.author.lastName }}</strong>
            </div>
            <span class="post-date">{{ post.createdAt | date:'short' }}</span>
          </div>
        </ng-template>
  
        <div class="post-content">
          <p class="post-description" [ngStyle]="{'direction': getTextDirection(post.description)}">
            {{ post.description }}
          </p>
          <img class="post-image" [src]="sanitizeImageUrl(post.image)" alt="Post image" *ngIf="post.image">
        </div>
  
        <div *ngIf="!post.systemPost" class="info-group">
          <button class="info-button" (click)="likePost(post)">
            {{ post.liked ? 'Unlike' : 'Like' }} ({{ post.likes.length }})
          </button>
          <button class="info-button" (click)="sharePost(post)">
            Share ({{ post.shares.length }})
          </button>
          <button class="info-button" (click)="savePost(post)">
            {{ post.saved ? 'Unsave' : 'Save' }}
          </button>
          <button class="info-button edit-button" *ngIf="post.author.username === currentUser" (click)="editPost(post)">Edit</button>
          <button class="info-button delete-button" *ngIf="post.author.username === currentUser" (click)="confirmDelete(post)">Delete</button>
        </div>
      </ng-template>
    </div>
  </div>
  
          
  <!-- Edit post modal -->
  <div *ngIf="editingPost" class="edit-dialog">
    <form (ngSubmit)="saveEdit()">
      <textarea [(ngModel)]="editingPost.description" name="description" placeholder="Edit description"></textarea>
      <input type="file" (change)="onFileChange($event)" />
      <img *ngIf="editingPost.image" [src]="editingPost.image" alt="Selected image" class="edit-image-preview" />
      <button class="info-button save-button" type="submit">Save</button>
      <button class="info-button cancel-button" (click)="cancelEdit()">Cancel</button>
      <button type="button" class="info-button remove-image-button" (click)="removeImage()">Remove Image</button>
    </form>
  </div>

  <!-- Success dialog -->
  <div *ngIf="editSuccess" class="success-dialog">
    <p>Your post was edited successfully</p>
    <button class="info-button ok-button" (click)="closeSuccessDialog()">OK</button>
  </div>

  <div *ngIf="postToDelete" class="delete-dialog">
    <p>Are you sure you want to delete this post ?</p>
    <div class="delete-dialog-buttons">
      <button class="info-button cancel-button" (click)="cancelDelete()">Cancel</button>
      <button class="info-button confirm-button" (click)="deletePost(postToDelete)">Confirm</button>
    </div>
  </div>

    <!-- Dialog for confirming post save -->
    <div *ngIf="saveSuccess" class="success-dialog">
      <p>Your post was saved successfully</p>
      <button class="info-button ok-button" (click)="closeSaveSuccessDialog()">OK</button>
    </div>
  
    <!-- Dialog for confirming post unsave -->
    <div *ngIf="unsaveSuccess" class="success-dialog">
      <p>Your post has been removed from your saved list</p>
      <button class="info-button ok-button" (click)="closeUnsaveSuccessDialog()">OK</button>
    </div>
    
</div>

