<div class="post-header">
    <ng-container *ngIf="!post.systemPost; else systemPost">
      <a [routerLink]="[post.author.username === currentUser ? '/profile' : '/another', post.author.username]" class="user-link">
        <img [src]="'../../../../assets/icons/userprofile.svg'" alt="Profile Image" class="profile-image lower-image" width="35" height="35">
        <strong>{{ post.author.firstName }} {{ post.author.lastName }} ({{ post.author.username }})</strong>
      </a>
    </ng-container>
    <ng-template #systemPost>
      <div class="user-link">
        <img [src]="'../../../../assets/icons/system.svg'" alt="Profile Image" class="profile-image lower-image" width="35" height="35">
        <strong>{{ post.author.firstName }} {{ post.author.lastName }}</strong>
      </div>
    </ng-template>
    <span class="post-date">{{ post.createdAt | date:'short' }}</span>
  </div>
  <p class="post-description" [ngStyle]="{'direction': getTextDirection(post.description)}">
    {{ post.description }}
  </p>
  <img class="post-image" [src]="sanitizeImageUrl(post.image)" alt="Post image" *ngIf="post.image">
  <p class="post-author"></p>
  