<div class="about-container">
    <app-header></app-header>
    <h2>About Us</h2>
    <p>{{ description }}</p>
    
    <h3>Project</h3>
    <p>{{ project }}</p>
    
    <h3>Members</h3>
    <ul>
      <li *ngFor="let member of members">{{ member }}</li>
    </ul>
  </div>
  



<div class="about-container">
    <h2>About Us</h2>
    <p>{{ description }}</p>
    
    <h3>Project</h3>
    <p>{{ project }}</p>
    
    <h3>Members</h3>
    <ul>
      <li *ngFor="let member of members">{{ member }}</li>
    </ul>
  </div>
  