<div class="about-container">
  <h2>About Us</h2>
  <div *ngIf="aboutContent$ | async as content">
    <p>{{ content.description }}</p>

    <h3>Project</h3>
    <p>{{ content.project }}</p>

    <h3>Members</h3>
    <ul>
      <li *ngFor="let member of content.members">{{ member }}</li>
    </ul>
  </div>


  <section class="contact">
    <div class="contact-container">
      <div class="contact-info">
        <div class="info-item">
          <img src="assets/icons/home.svg" alt="Home Icon">
          <span>
            <h5>Jabotinsky 84, Ashdod</h5>
            <p>SCE</p>
          </span>
        </div>
        <div class="info-item">
          <img src="assets/icons/phone.svg" alt="Phone Icon">
          <span>
            <h5>+1 0123456789</h5>
            <p>Monday to Saturday, 10AM to 6PM</p>
          </span>
        </div>
        <div class="info-item">
          <img src="assets/icons/mail.svg" alt="Mail Icon">
          <span>
            <h5>info&#64;ac.sce.ac.il</h5>
            <p>Email us your query</p>
          </span>
        </div>
      </div>
      <div class="contact-form">
        <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input id="name" formControlName="name" type="text" placeholder="Enter your name" />
          </div>
          <div class="form-group">
            <input id="email" formControlName="email" type="email" placeholder="Enter email address" />
          </div>
          <div class="form-group">
            <textarea id="message" formControlName="message" placeholder="Message"></textarea>
          </div>
          <button type="submit" [disabled]="messageForm.invalid">Send Message</button>
        </form>
      </div>
    </div>
  </section>
</div>
