.logo {
    position: absolute;
    width: 25%;
    top: 0;
    z-index: -5;
    height: 13%;
}

.color {
    position: absolute;
    top: 0;
    width: 100%;
    height: 13%;
    background-color: #005dbb56;
}