<div class="search-container">
  <form (ngSubmit)="onSearch()">
    <input type="text" placeholder="Search users..." [(ngModel)]="searchQuery" name="query" (input)="onTextAreaInput($event)"/>
    <button type="submit">Search</button>
  </form>
</div>

<div *ngIf="user" class="profile-container">
  <h2>{{ user.firstName }} {{ user.lastName }}'s Profile</h2>
  <p><strong>Username:</strong> {{ user.username }}</p>
  <p><strong>Email:</strong> {{ user.email }}</p>
  
  <!-- הצגת פרטים נוספים של המשתמש -->
  
  <!-- אם זה המשתמש הנוכחי, לא נציג את האפשרות לערוך כאן כי הוא יופנה לקומפוננטה אחרת -->
  <div *ngIf="isCurrentUser">
    <h3>My Profile Details</h3>
    <!-- הצגת פרטים נוספים שניתן לערוך -->
  </div>
  
  <!-- אם זה לא המשתמש הנוכחי -->
  <div *ngIf="!isCurrentUser">
    <h3>About {{ user.firstName }}</h3>
    <button *ngIf="user?.username && !user.isFollowing" (click)="followUser(user.username!)" class="follow-button">Follow</button>
    <button *ngIf="user?.username && user.isFollowing" (click)="unfollowUser(user.username!)" class="unfollow-button">Unfollow</button>
  </div>

<!-- הצגת הפוסטים של המשתמש -->
<div class="user-posts">
  <h3>{{ user.firstName }}'s Posts</h3>
  <div class="content-section">
    <div class="post" *ngFor="let post of sortedContent">
      <div class="post-header">
        <a [routerLink]="[post.authorName === currentUsername ? '/profile' : '/another', post.authorName]" class="user-link">
          <img [src]="'../../../../assets/icons/userprofile.svg'" alt="Profile Image" class="profile-image">
          <strong>{{ post.authorName }}</strong>
        </a>
        <span class="post-date">{{ post.createdAt | date:'short' }}</span>
      </div>
      <div class="post-body">
        <p class="post-description" [ngStyle]="{'direction': getTextDirection(post.description)}">
          {{ post.description }}
        </p>
        <img class="post-image" [src]="sanitizeImageUrl(post.image)" alt="Post image" *ngIf="post.image">
      </div>
    </div>
  </div>
</div>
</div>
