<div class="personal-area">
  <div class="sidebar">
    <div (click)="toggleMenu()">
      <img class="icon" src="assets/icons/menuBlue.svg" alt="">
    </div>
    <div *ngIf="showMenu">
      <button mat-button color="primary" (click)="editPersonalDetails()">Edit Personal Details</button>
      <button mat-button color="primary" (click)="changePassword()">Change Password</button>
      <button mat-button color="primary" (click)="viewStatistics()">View Statistics</button>
      <button mat-button color="primary" (click)="uploadModeonly()">Uploaded Content</button>
      <button mat-button color="primary" (click)="savedPosts()">Saved Content</button>
      <button mat-button color="primary" (click)="favoritePosts()">Favorite Content</button>
      <button mat-button color="primary" (click)="showFollowing()">Following</button>
      <button mat-button color="primary" (click)="deleteAccount()">Delete Account</button>
    </div>
  </div>

  <h1>My Personal Area</h1>

  <!-- User Details -->
  <div *ngIf="uploadMode" class="user-details">
    <p><strong>Username:</strong> {{ user?.username }}</p>
    <p><strong>First Name:</strong> {{ user?.firstName }}</p>
    <p><strong>Last Name:</strong> {{ user?.lastName }}</p>
    <p><strong>Pet:</strong> {{ user?.pet }}</p>
  </div>

  <!-- Edit Personal Details Form -->
  <div *ngIf="editMode" class="edit-form">
    <h2>Edit Personal Details</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmitUserDetails()">

      <div class="form-group">
        <label for="username">Username</label>
        <input id="username" formControlName="username" type="text" />
        <div *ngIf="userForm.get('username')?.invalid && userForm.get('username')?.touched">
          <small *ngIf="userForm.get('username')?.hasError('required')">Username is required.</small>
          <small *ngIf="userForm.get('username')?.hasError('minlength')">Username must be at least 2 characters
            long.</small>
          <small *ngIf="userForm.get('username')?.hasError('maxlength')">Username cannot exceed 20 characters.</small>
          <small *ngIf="userForm.get('username')?.hasError('pattern')">Username can only contain letters and
            numbers</small>
        </div>
        <!-- הודעת שגיאה במקרה שהשם משתמש כבר קיים במערכת -->
        <div *ngIf="usernameExists">
          <small class="error-message">Username already exists in the system.</small>
        </div>
      </div>

      <div class="form-group">
        <label for="firstName">First Name</label>
        <input id="firstName" formControlName="firstName" type="text" />
        <div *ngIf="userForm.get('firstName')?.invalid && userForm.get('firstName')?.touched">
          <small *ngIf="userForm.get('firstName')?.hasError('required')">First Name is required.</small>
          <small *ngIf="userForm.get('firstName')?.hasError('minlength')">First Name must be at least 2 characters
            long.</small>
          <small *ngIf="userForm.get('firstName')?.hasError('maxlength')">First Name cannot exceed 20
            characters.</small>
          <small *ngIf="userForm.get('firstName')?.hasError('pattern')">First Name can only contain letters.</small>
        </div>
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input id="lastName" formControlName="lastName" type="text" />
        <div *ngIf="userForm.get('lastName')?.invalid && userForm.get('lastName')?.touched">
          <small *ngIf="userForm.get('lastName')?.hasError('required')">Last Name is required.</small>
          <small *ngIf="userForm.get('lastName')?.hasError('minlength')">Last Name must be at least 2 characters
            long.</small>
          <small *ngIf="userForm.get('lastName')?.hasError('maxlength')">Last Name cannot exceed 20 characters.</small>
          <small *ngIf="userForm.get('lastName')?.hasError('pattern')">Last Name can only contain letters.</small>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" formControlName="email" type="email" />
        <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
          <small *ngIf="userForm.get('email')?.hasError('required')">Email is required.</small>
          <small *ngIf="userForm.get('email')?.hasError('email')">Please enter a valid email address.</small>
        </div>
        <!-- הודעת שגיאה במקרה שהאימייל כבר קיים במערכת -->
        <div *ngIf="emailExists">
          <small class="error-message">Email already exists in the system.</small>
        </div>
      </div>

      <div class="form-group">
        <label for="pet">Owned Pet</label>
        <select id="pet" formControlName="pet">
          <option *ngFor="let pet of petOptions" [value]="pet">{{ pet }}</option>
        </select>
      </div>

      <button type="submit" [disabled]="userForm.invalid" class="btn">Save</button>
      <button type="button" (click)="cancelEdit()" class="btn">Cancel</button>
    </form>
  </div>



  <!-- Change Password Form -->
  <div *ngIf="passwordMode" class="password-form">
    <h2>Change Password</h2>
    <form style="display: flex; flex-direction: column; gap: 30px; margin-top: 30px;" [formGroup]="passwordForm"
      (ngSubmit)="onSubmitPasswordChange()">
      <mat-form-field appearance="fill">
        <mat-label>Current Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="currentPassword" required />
        <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button"
          [attr.aria-label]="'Toggle password visibility'" [attr.aria-pressed]="!hide">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <!-- Error messages for current password -->
        <mat-error *ngIf="passwordForm.get('currentPassword')?.hasError('required')">
          Current password is required.
        </mat-error>
        <mat-error *ngIf="passwordForm.get('currentPassword')?.hasError('invalidCurrentPassword')">
          The current password is incorrect.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>New Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="newPassword" required />
        <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button"
          [attr.aria-label]="'Toggle password visibility'" [attr.aria-pressed]="!hide">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <!-- Error messages for new password -->
        <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('required')">
          New password is required.
        </mat-error>
        <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('minlength')">
          New password must be at least 8 characters long.
        </mat-error>
        <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('maxlength')">
          New password cannot exceed 20 characters.
        </mat-error>
        <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('pattern')">
          New password must contain at least one uppercase letter, one lowercase letter, one number, and one special
          character.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Repeat Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" required />
        <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button"
          [attr.aria-label]="'Toggle password visibility'" [attr.aria-pressed]="!hide">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <!-- Error messages for confirm password -->
        <mat-error *ngIf="passwordForm.get('confirmPassword')?.hasError('required')">
          Please confirm your new password.
        </mat-error>
        <mat-error *ngIf="passwordForm.errors?.['passwordMismatch']">
          Passwords do not match.
        </mat-error>
      </mat-form-field>

      <button type="submit" [disabled]="passwordForm.invalid" class="btn">Change
        Password</button>
      <button type="button" (click)="cancelEdit()" class="btn">Cancel</button>
    </form>
  </div>




  <!-- Delete Account Form -->
  <div *ngIf="deleteMode" class="delete-form">
    <h2>Delete Account</h2>
    <form (ngSubmit)="confirmDeleteAccount()">
      <div class="form-group">
        <input type="password" placeholder="Current Password" name="currentPassword" required class="password-input" />
      </div>
      <div class="button-group">
        <button type="submit" class="btn confirm-btn">Confirm</button>
      </div>
      <button type="button" (click)="cancelAction()" class="btn cancel-btn">Cancel</button>
    </form>
  </div>

  <!--Delete Account Confirmation Popup-->
  <div *ngIf="showConfirmDeletePopup" class="popup-overlay">
    <div class="popup-content">
      <p>Are you sure you want to delete your account?</p>
      <button (click)="deleteAccountConfirmed()">Yes</button>
      <button (click)="cancelDeleteAccount()">No</button>
    </div>
  </div>

  <!-- Delete Account Confirmation Popup -->
  <div *ngIf="showConfirmDeletePopup" class="popup-overlay">
    <div class="popup-content">
      <p>Are you sure you want to delete your account?</p>
      <button (click)="deleteAccountConfirmed()">Yes</button>
      <button (click)="cancelDeleteAccount()">No</button>
    </div>
  </div>

  <!-- Password Mismatch Popup -->
  <div *ngIf="showPasswordMismatchPopup" class="popup-overlay">
    <div class="popup-content">
      <p>The password you entered is incorrect. Please try again.</p>
      <button (click)="closePasswordMismatchPopup()">OK</button>
    </div>
  </div>

  <!-- Following Section -->
  <div *ngIf="followMode" class="following-section">
    <h2>Following</h2>
    <input type="text" placeholder="Search..." [(ngModel)]="searchTerm" class="search-input" />
    <div class="search-container">
    </div>
    <button type="button" (click)="filterFollowing(searchTerm)" class="btn search-btn">Search</button>
    <div *ngFor="let username of filteredFollowing" class="user">
      <a [routerLink]="[username === user?.username ? '/profile' : '/another', username]" class="user-link">
        <p>{{ username }}</p>
      </a>
      <div class="info-group">
        <button type="button" (click)="confirmUnfollowUser(username)" class="btn unfollow-btn">Unfollow</button>
      </div>
    </div>
    <button type="button" (click)="cancelAction()" class="btn return-btn">Return</button>
  </div>

  <!-- Confirmation Popup -->
  <div *ngIf="showConfirmUnfollowPopup" class="popup-overlay">
    <div class="popup-content">
      <p>Are you sure you want to unfollow {{ userToUnfollow }}?</p>
      <button (click)="unfollowUser(userToUnfollow)">Yes</button>
      <button (click)="cancelUnfollow()">No</button>
    </div>
  </div>


  <!-- Uploaded Content Section -->
  <div *ngIf="uploadMode" class="content-section" style="max-height: 400px; overflow-y: auto;">
    <h2>Uploaded Content</h2>
    <!-- Sort Options -->
    <div class="sort-options">
      <label>
        <input type="radio" name="sort" (change)="sortedContent = sortPosts(uploadedContent, 'date')"
          [checked]="sortOption === 'date'">
        Sort by Date
      </label>
      <label>
        <input type="radio" name="sort" (change)="sortedContent = sortPosts(uploadedContent, 'likes')"
          [checked]="sortOption === 'likes'">
        Sort by Likes
      </label>
    </div>

    <div class="content-section">
      <div class="post" *ngFor="let post of sortedContent">
        <div class="post-header">
          <a [routerLink]="['/another', user?.username]" class="user-link">
            <img [src]="'../../../../assets/icons/userprofile.svg'" alt="Profile Image" class="profile-image" width="35"
              height="35">
            <strong>{{ user?.firstName }} {{ user?.lastName }} ({{ user?.username }})</strong>
          </a>
          <span class="post-date">{{ post.createdAt | date:'short' }}</span>
        </div>
        <p class="post-description" [ngStyle]="{'direction': getTextDirection(post.description)}">
          {{ post.description }}
        </p>
        <img class="post-image" [src]="sanitizeImageUrl(post.image)" alt="Post image" *ngIf="post.image" width="120"
          height="120">
        <div class="info-group">
          <p>Likes: {{ post.likes.length }}</p>
          <p>Shares: {{ post.shares.length }}</p>
          <button type="button" (click)="confirmDeletePost(post._id)" class="btnDelete">Delete Content</button>

        </div>
      </div>
    </div>
  </div>
  <!-- Confirmation Popup for Post Deletion -->
  <div *ngIf="showConfirmDeletePostPopup" class="popup-overlay">
    <div class="popup-content">
      <p>Are you sure you want to delete this post?</p>
      <button (click)="deletePostConfirmed()">Yes</button>
      <button (click)="cancelDeletePost()">No</button>
    </div>
  </div>

  <div>
    <!-- Favorite Content Section -->
    <div *ngIf="favoriteMode" class="favorite-content-section" style="max-height: 400px; overflow-y: auto;">
      <h2>Favorite Content</h2>
      <!-- Sort Options -->
      <div class="sort-options">
        <label>
          <input type="radio" name="sort" (change)="sortedContent = sortPosts(favoriteContent, 'date')"
            [checked]="sortOption === 'date'">
          Sort by Date
        </label>
        <label>
          <input type="radio" name="sort" (change)="sortedContent = sortPosts(favoriteContent, 'likes')"
            [checked]="sortOption === 'likes'">
          Sort by Likes
        </label>
      </div>

      <div class="content-section">
        <div class="post" *ngFor="let post of sortedContent">
          <div class="post-header">
            <a [routerLink]="['/another', user?.username]" class="user-link">
              <img [src]="'../../../../assets/icons/userprofile.svg'" alt="Profile Image" class="profile-image"
                width="35" height="35">
              <strong>{{ user?.firstName }} {{ user?.lastName }} ({{ user?.username }})</strong>
            </a>
            <span class="post-date">{{ post.createdAt | date:'short' }}</span>
          </div>
          <p class="post-description" [ngStyle]="{'direction': getTextDirection(post.description)}">
            {{ post.description }}
          </p>
          <img class="post-image" [src]="sanitizeImageUrl(post.image)" alt="Post image" *ngIf="post.image" width="120"
            height="120">
          <div class="info-group">
            <p>Likes: {{ post.likes.length }}</p>
            <p>Shares: {{ post.shares.length }}</p>
            <button type="button" (click)="UnlikePost(post)" class="btnDelete">Unlike</button>
          </div>
        </div>
      </div>
      <button type="button" (click)="cancelAction()" class="btn return-btn">Return</button>
    </div>


    <!-- Saved Content Section -->
    <div>
      <div *ngIf="savedMode" class="saved-content-section" style="max-height: 400px; overflow-y: auto;">
        <h2>Saved Content</h2>
        <!-- Sort Options -->
        <div class="sort-options">
          <label>
            <input type="radio" name="sort" (change)="sortedContent = sortPosts(savedContent, 'date')"
              [checked]="sortOption === 'date'">
            Sort by Date
          </label>
          <label>
            <input type="radio" name="sort" (change)="sortedContent = sortPosts(savedContent, 'likes')"
              [checked]="sortOption === 'likes'">
            Sort by Likes
          </label>
        </div>
        <div class="content-section">
          <div class="post" *ngFor="let post of sortedContent">
            <div class="post-header">
              <a [routerLink]="['/another', user?.username]" class="user-link">
                <img [src]="'../../../../assets/icons/userprofile.svg'" alt="Profile Image" class="profile-image"
                  width="35" height="35">
                <strong>{{ user?.firstName }} {{ user?.lastName }} ({{ user?.username }})</strong>
              </a>
              <span class="post-date">{{ post.createdAt | date:'short' }}</span>
            </div>
            <p class="post-description" [ngStyle]="{'direction': getTextDirection(post.description)}">
              {{ post.description }}
            </p>
            <img class="post-image" [src]="sanitizeImageUrl(post.image)" alt="Post image" *ngIf="post.image" width="120"
              height="120">
            <div class="info-group">
              <p>Likes: {{ post.likes.length }}</p>
              <p>Shares: {{ post.shares.length }}</p>
              <button type="button" (click)="unsavePost(post)" class="btnDelete">Unsave</button>
            </div>
          </div>
        </div>
        <button type="button" (click)="cancelAction()" class="btn return-btn">Return</button>
      </div>
    </div>

    <!-- Statistics Section -->
    <div *ngIf="statsMode" class="statistics-section">
      <h2>Statistics</h2>
      <div>
        <p>Following: {{following.length}}</p>
        <button mat-button color="primary" (click)="showFollowing()">Following</button>
      </div>
      <div>
        <p>Uploaded Posts: {{uploadedContent.length}}</p>
        <button mat-button color="primary" (click)="cancelAction()">Uploaded</button>
      </div>
      <div>
        <p>Liked Posts: {{favoriteContent.length}}</p>
        <button mat-button color="primary" (click)="favoritePosts()">Favorite Content</button>
      </div>
      <button type="button" (click)="cancelAction()" class="btn">Return</button>
    </div>
  </div>