<div class="personal-area">
  <div class="sidebar">
    <div (click)="toggleMenu()">
      <img class="icon" src="assets/icons/menuBlue.svg" alt="">
    </div>
    <div *ngIf="showMenu">
      <button mat-button color="primary" (click)="editPersonalDetails()">Edit Personal Details</button>
      <button mat-button color="primary" (click)="changePassword()">Change Password</button>
      <button mat-button color="primary" (click)="viewStatistics()">View Statistics</button>
      <button mat-button color="primary" (click)="savedPosts()">Saved Content</button>
      <button mat-button color="primary" (click)="favoritePosts()">Favorite Content</button>
      <button mat-button color="primary" (click)="showFollowing()">Following</button>
      <button mat-button color="primary" (click)="deleteAccount()">Delete Account</button>
    </div>
  </div>

  <h1>My Personal Area</h1>

  <!-- User Details -->
  <div *ngIf="uploadMode" class="user-details">
    <p><strong>Username:</strong> {{ user?.username }}</p>
    <p><strong>First Name:</strong> {{ user?.firstName }}</p>
    <p><strong>Last Name:</strong> {{ user?.lastName }}</p>
    <p><strong>Pet:</strong> {{ user?.pet }}</p>
  </div>

  <!-- Edit Personal Details Form -->
  <div *ngIf="editMode" class="edit-form">
    <h2>Edit Personal Details</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmitUserDetails()">
      <div class="form-group">
        <label for="username">Username</label>
        <input id="username" formControlName="username" type="text" />
      </div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input id="firstName" formControlName="firstName" type="text" />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input id="lastName" formControlName="lastName" type="text" />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" formControlName="email" type="email" />
      </div>
      <div class="form-group">
        <label for="pet">Owned Pet</label>
        <select id="pet" formControlName="pet">
          <option *ngFor="let pet of petOptions" [value]="pet">{{ pet }}</option>
        </select>
      </div>
      <button type="submit" [disabled]="userForm.invalid" class="btn">Save</button>
      <button type="button" (click)="cancelEdit()" class="btn">Cancel</button>
    </form>
  </div>

  <!-- Change Password Form -->
  <div *ngIf="passwordMode" class="password-form">
    <h2>Change Password</h2>
    <form style="display: flex; flex-direction: column; gap: 30px; margin-top: 30px;" [formGroup]="passwordForm"
      (ngSubmit)="onSubmitPasswordChange()">
      <mat-form-field appearance="fill">
        <mat-label>curent password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="currentPassword" required />
        <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button"
          [attr.aria-label]="'Toggle password visibility'" [attr.aria-pressed]="!hide">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="passwordForm.get('currentPassword')?.hasError('required')">
          Password is required
        </mat-error>
        <mat-error *ngIf="
        passwordForm.get('currentPassword')?.hasError('minlength') ||
        passwordForm.get('currentPassword')?.hasError('maxlength') ||
        passwordForm.get('currentPassword')?.hasError('pattern')
          ">
          Password is not suitable
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>new password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="newPassword" required />
        <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button"
          [attr.aria-label]="'Toggle password visibility'" [attr.aria-pressed]="!hide">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('required')">
          Password is required
        </mat-error>
        <mat-error *ngIf="
        passwordForm.get('newPassword')?.hasError('minlength') ||
        passwordForm.get('newPassword')?.hasError('maxlength') ||
        passwordForm.get('newPassword')?.hasError('pattern')
          ">
          Password is not suitable
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>reapet assword</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" required />
        <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button"
          [attr.aria-label]="'Toggle password visibility'" [attr.aria-pressed]="!hide">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="passwordForm.get('confirmPassword')?.hasError('required')">
          Password is required
        </mat-error>
        <mat-error *ngIf="
        passwordForm.get('confirmPassword')?.hasError('minlength') ||
        passwordForm.get('confirmPassword')?.hasError('maxlength') ||
        passwordForm.get('confirmPassword')?.hasError('pattern')
          ">
          Password is not suitable
        </mat-error>
      </mat-form-field>
      <button type="submit" [disabled]="passwordForm.invalid" class="btn">Change
        Password</button>
      <button type="button" (click)="cancelEdit()" class="btn">Cancel</button>
      <div *ngIf="passwordForm.errors?.['passwordMismatch']" class="error">
        Passwords do not match.
      </div>
    </form>
  </div>

  <!-- Delete Account Form -->
  <div *ngIf="deleteMode" class="delete-form">
    <h2>Delete Account</h2>
    <form (ngSubmit)="confirmDeleteAccount()">
      <div class="form-group">
        <input type="password" placeholder="Current Password" name="currentPassword" required />
      </div>
      <button type="submit" class="btn">Confirm</button>
      <button type="button" (click)="cancelAction()" class="btn">Cancel</button>
    </form>
  </div>

  <!-- Following Section -->
  <div *ngIf="followMode" class="following-section">
    <h2>Following</h2>
    <input type="text" placeholder="Search..." [(ngModel)]="searchTerm" />
    <button type="button" (click)="filterFollowing(searchTerm)" class="btn">Search</button>
    <div *ngFor="let username of filteredFollowing" class="user">
      <a [routerLink]="[username === user?.username ? '/profile' : '/another', username]" class="user-link">
        <p>{{ username }}</p>
      </a>
      <button type="button" (click)="unfollowUser(username)" class="btn unfollow-btn">Unfollow</button>
    </div>
    <button type="button" (click)="cancelAction()" class="btn">Return</button>
  </div>


  <!-- Uploaded Content Section -->
  <div *ngIf="uploadMode" class="content-section">
    <h2>Uploaded Content</h2>

    <!-- Sort Options -->
    <!-- Sort Options -->
    <div class="sort-options">
      <label>
        <input type="radio" name="sort" (change)="sortedContent = sortPosts(uploadedContent, 'date')"
          [checked]="sortOption === 'date'">
        Sort by Date
      </label>
      <label>
        <input type="radio" name="sort" (change)="sortedContent = sortPosts(uploadedContent, 'likes')"
          [checked]="sortOption === 'likes'">
        Sort by Likes
      </label>
    </div>

    <div *ngFor="let post of sortedContent" class="post">
      <p>{{ post.description }}</p>
      <div *ngIf="post.image">
        <img [src]="post.image" alt="Post Image">
      </div>
      <p>author : {{user?.username}}</p>
      <p>Likes: {{ post.likes.length }}</p>
      <p>Shares: {{ post.shares.length }}</p>
      <p>Created At: {{ post.createdAt | date:'medium' }}</p>
      <button type="button" (click)="deletePost(post)" class="btnDelete">Delete Content</button>
    </div>
  </div>

  <!-- Favorite Content Section -->
  <!-- favorite-content.component.html -->

  <div *ngIf="favoriteMode">
    <div class="favorite-content-section">
      <h2>Favorite Content</h2>
      <!-- Sort Options -->
      <div class="sort-options">
        <label>
          <input type="radio" name="sort" (change)="sortedContent = sortPosts(favoriteContent, 'date')"
            [checked]="sortOption === 'date'">
          Sort by Date
        </label>
        <label>
          <input type="radio" name="sort" (change)="sortedContent = sortPosts(favoriteContent, 'likes')"
            [checked]="sortOption === 'likes'">
          Sort by Likes
        </label>
      </div>

      <div class="scrollable-content">
        <div *ngFor="let post of sortedContent" class="post">
          <p>{{ post.description }}</p>
          <div *ngIf="post.image">
            <img [src]="post.image" alt="Post Image">
          </div>
          <p>author : {{post.authorName}}</p>
          <p>Likes: {{ post.likes.length }}</p>
          <p>Shares: {{ post.shares.length }}</p>
          <p>Created At: {{ post.createdAt | date:'medium' }}</p>
        </div>
      </div>
    </div>
    <button type="button" (click)="cancelAction()" class="btn">Return</button>
  </div>


<!-- Saved Content Section -->
<!-- Saved Content Section -->
<div *ngIf="savedMode">
  <div class="saved-content-section">
    <h2>Saved Content</h2>
    <!-- Sort Options -->
    <div class="sort-options">
      <label>
        <input type="radio" name="sort" (change)="sortedContent = sortPosts(savedContent, 'date')"
          [checked]="sortOption === 'date'">
        Sort by Date
      </label>
      <label>
        <input type="radio" name="sort" (change)="sortedContent = sortPosts(savedContent, 'likes')"
          [checked]="sortOption === 'likes'">
        Sort by Likes
      </label>
    </div>

    <div class="scrollable-content">
      <div *ngFor="let post of sortedContent" class="post">
        <p>{{ post.description }}</p>
        <div *ngIf="post.image">
          <img [src]="post.image" alt="Post Image">
        </div>
        <p>author : {{post.authorName}}</p>
        <p>Likes: {{ post.likes.length }}</p>
        <p>Shares: {{ post.shares.length }}</p>
        <p>Created At: {{ post.createdAt | date:'medium' }}</p>
        <button type="button" (click)="unsavePost(post)" class="btn">Unsave</button>
      </div>
    </div>
  </div>
  <button type="button" (click)="cancelAction()" class="btn">Return</button>
</div>

  <!-- Statistics Section -->
  <div *ngIf="statsMode" class="statistics-section">
    <h2>Statistics</h2>
    <div>
      <p>Likes per Post</p>
      <canvas id="likesChart"></canvas>
    </div>
    <div>
      <p>Content Uploaded per Month</p>
      <canvas id="uploadsChart"></canvas>
    </div>
    <div>
      <p>Content Liked per Month</p>
      <canvas id="likedChart"></canvas>
    </div>
    <button type="button" (click)="cancelAction()" class="btn">Return</button>
  </div>
</div>